---
layout: page
description: "miguel ángel domínguez coloma's blog"
header-img: ""
---

{% for post in paginator.posts %}
    {% assign mod = forloop.index - 1 | modulo: 2 %}

    {% if forloop.index == 1 or mod == 0 %}
    <div class="row">
    {% endif %}

    <div class="post-preview {% if forloop.index == 1 %}{{ "col-md-12 col-lg-12 col-sm-12 col-xs-12"  }}{% else %}{{ "col-md-6 col-lg-6 col-sm-6 col-xs-12" }}{% endif %}">
        <a href="{{ post.url | prepend: site.baseurl }}">
            {% if (post.header-img) %}
            <div class="post-image" style="background-image: url({{ site.baseurl }}/{{ post.header-img }})"></div>
            {% else %}
            <div class="post-image" style="background-image: url({{ site.baseurl }}/{{ post.main-img }})"></div>
            {% endif %}
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>

        {% if forloop.index == 1 %}<hr />{% endif %}
    </div>

    {% if forloop.index == 1 or mod == 1 %}
    </div>
    {% endif %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
