---
layout: default
---

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="site-heading">
                </div>
            </div>
        </div>
       <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidebar-right nopadding">
                <nav class="navbar navbar-default nomargin-bottom">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="social-on-brand navbar-brand visible-xs-inline-block" href="#">{{ page.date | date: '%B %d, %Y' }}</a>
                            {% include social-on-brand.html %}
                        </div>
                        <ul class="nav navbar-nav navbar-right hidden-xs">
                            <a class="social-on-brand navbar-brand hidden-xs-inline-block" href="#">{{ page.date | date: '%B %d, %Y' }}</a>
                            {% include social.html %}
                        </ul>
                    </div>
                </nav>
            </div>
       </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 content-sidebar-right">
                <h1>{{ page.title }}</h1>
				{{ content }}
                {% if page.featured-author %}
                <div class="text-right">
                <span class="featured-text">Featured image by <em><a href="{{page.featured-link}}">{{page.featured-author}}</a></em></span>
                </div>
                {% endif %}
                <hr>
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                {% if page.comments %}
                <div id="disqus_thread"></div>
                <script>
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://eridem.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {% endif %}
            </div>
        </div>
    </div>
</article>
<hr>
